{% extends 'base.html' %}
{% block page_title %}User Forum{% endblock %}
{% block content %}
    <div class="row" id="header">
        <div class="col-12">
            <br>
            <h1><center>User Forum</center></h1>
            <br>
            <div class="container">
                <p class="header-desc">You can use this forum to let us know how we're getting on, and to stay up-to-date 
                with the latest news from ABC Copy. We'll be posting regular updates from our end on the forum, and we 
                encourage you to share your experiences and help us identify ways in which we can further improve our service.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container" id="blank-container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary float-right" href="{% url 'new_post' %}" role="button" id="save">Add Post</a>
            </div>
        </div>
        <br>
        {% for post in posts %}
        <hr>
        <br>
        <div class="row">
            <div class="col-md-3 col-xs-12 text-center">
                <a class="story-img" href="#">
                    <img src="{{ post.user.userprofile.image.url }}" class="img-circle" height="100" width="100">
                </a>
                <p class="blog-text"><span class="boldtext">Author: </span>{{ post.user }}</p>
            </div>
            <div class="col-md-9 col-xs-12">
                <h3 class="blog-text"><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h3>
                <p class="blog-text">{{ post.content|truncatewords:30 }} <a href="{% url 'post_detail' slug=post.slug %}">Read more</a></p>
                <p class="blog-text"><b><span class="boldtext">Published on: </span></b>{{ post.published_date }}</p>
                <p class="blog-text"><b><span class="boldtext">Likes: </span></b>{{ post.likes.count }}</p>
                <p class="blog-text"><b><span class="boldtext">Tags: </span></b>{{ post.tag }}</p>
            </div>
        </div>
        <br>
        {% endfor %}
        <hr>
        <br>
        <div class="row">
            <div class="col-12" style="text-align:center">
                <p class="blog-text">You have reached the end of the thread.</p>
                <p class="blog-text">Contribute to the conversation by clicking the blue button at 
                the top of the page.</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}