{% extends 'base.html' %}
{% block page_title %}Create New Post{% endblock %}
{% load bootstrap_tags %}
{% block content %}
<div class="row" id="header">
    <div class="col-12">
        <br>
        <h1><center>Add a post below</center></h1>
        {% if user.is_superuser %}
        <p class="header-desc">Keep your clients up to date with the latest goings on here...</p>
        {% else %}
        <p class="header-desc">Let us know how we're doing...</p>
        {% endif %}
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-xs-0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col-md-8 sol-xs-12">
            <form method="POST" enctype="multipart/form-data" class="new-blog">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <a class="btn btn-primary float-left" href="{% url 'get_posts' %}" role="button" id="save"><i class="material-icons" style="font-size:16px">arrow_back</i> Back</a>
                <button class="btn btn-primary float-right" type="submit" id="save">Publish</button>
                <br>
            </form>
        </div>
        <div class="col-md-2 col-xs-0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
</div>
{% endblock %}