{% extends 'base.html' %}
{% block page_title %}Create New Post{% endblock %}
{% load bootstrap_tags %}
{% block content %}
<div class="row" id="header">
    <div class="col-12">
        <br>
        <h1><center>Let us know how we're doing</center></h1>
        <p class="header-desc">Add a post below...</p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col-md-8 sol-sm-12">
            <form method="POST" enctype="multipart/form-data" class="new-blog">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button class="btn btn-primary float-center" type="submit" id="save">Publish Post</button>
                <a class="btn btn-primary float-right" href="{% url 'get_posts' %}" role="button" id="save">Back to Blog</a>
            </form>
        </div>
        <div class="col-md-2 col-sm-0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
</div>
{% endblock %}