{% extends 'base.html' %}
{% block content %}
<div class="row" id="header">
    <div class="col-12">
        <br>
        <h1><center>Lorem Ipsum</center></h1>
        <br>
        <div class="container">
            <p class="header-desc">Lorem ipsum.</p>
        </div>
    </div>
</div>
<br>
<div class="container" id="blank-container">
    <div class="row">
        <div class="col-md-3 col-sm-12 text-center">
            <a class="story-img" href="#">
                <img src="{{ user.userprofile.image.url }}" class="img-circle">
            </a>
            <p class="blog-text"><span class="boldtext">Author: </span>{{ post.user }}</p>
        </div>
        <div class="col-md-9 col-sm-12">
            <h3 class="blog-text">{{ post.title }}</h3>
            <p class="blog-text">{{ post.content }}</p>
            <p class="blog-text"><span class="boldtext">Published on: </span>{{ post.published_date }}</p>
            <p class="blog-text"><span class="boldtext">Views: </span>{{ post.views }}</p>
            <p class="blog-text"><span class="boldtext">Tag: </span>{{ post.tag }}</p>
            <a class="btn btn-primary" href="{% url 'get_posts' %}" role="button" id="save">Back to Blog</a>
            {% if post.user == user %}
            <a class="btn btn-primary" href="{% url 'edit_post' post.id %}" role="button" id="save">Edit Post</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}