{% extends 'base.html' %}
{% block page_title %}{{ post.title }}{% endblock %}
{% block content %}
<br>
<div class="container" id="blank-container">
    <div class="row">
        <div class="col-md-3 col-xs-12 text-center">
            <a class="story-img" href="{% url 'display_profile' post.slug %}">
                <img src="{{ post.user.userprofile.image.url }}" class="img-circle">
            </a>
            <p class="blog-text"><span class="boldtext">Author: </span><a href="{% url 'display_profile' post.slug %}">{{ post.user }}</a></p>
        </div>
        <div class="col-md-9 col-xs-12">
            <br>
            <h3 class="blog-text">{{ post.title }}</h3>
            <br>
            <p class="blog-text">{{ post.content }}</p>
            <hr class="post-break">
            <p class="blog-text"><span class="boldtext">Published on: </span>{{ post.published_date }}</p>
            <p class="blog-text"><span class="boldtext">Tags: </span>{{ post.tag }}</p>
            
            
            <a class="btn btn-primary" href="{{ post.get_like_url }}" role="button" id="blog-blue"><i class="material-icons" style="font-size:12px">thumb_up</i> Like {{ post.likes.count }}</a>
            <a class="btn btn-primary" href="{% url 'get_posts' %}" role="button" id="blog-blue"><i class="material-icons" style="font-size:12px">arrow_back</i> Blog</a>
            
            {% if post.user == user %}
                <a class="btn btn-primary" href="{% url 'edit_post' post.slug %}" role="button" id="blog-blue">Edit <i class="material-icons" style="font-size:12px">edit</i></a>
                <a class="btn btn-danger" href="{% url 'delete_post' post.slug %}" role="button" id="blog-red">Delete <i class="material-icons" style="font-size:12px">delete</i></a>
            {% endif %}
            <br>
        </div>
    </div>
</div>
<br>
{% endblock %}