{% extends 'base.html' %}
{% block page_title %}Confirm Payment{% endblock %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container" id="checkout-container">
        <div class="row">
            <div class="col-12">
                <center><h2 class="checkout-head">Thankyou for your custom</h2></center>
                <center><p class="checkout">The final invoice for this project is detailed below.
                We hope to be working with you again very soon.</p></center>
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-2 col-xs-0">
                <!-- Empty for styling purposes -->
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="invoice-container">
                    <div class="row" id="shade">
                        <div class="col-5">
                            <p class="checkout">Project:</p>
                        </div>
                        <div class="col-7">
                            <p class="invoice">{{ project.project_title }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="checkout">Project ID:</p>
                        </div>
                        <div class="col-7">
                            <p class="invoice">{{ project.pk }}</p>
                        </div>
                    </div>
                    <div class="row" id="shade">
                        <div class="col-5">
                            <p class="checkout">Project fee:</p>
                        </div>
                        <div class="col-7">
                            <p class="invoice">£{{ project.fee }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="checkout">VAT:</p>
                        </div>
                        <div class="col-7">
                            <p class="invoice">£{{ project.plus_vat }}</p>
                        </div>
                    </div>
                    <div class="row" id="shade">
                        <div class="col-5">
                            <p class="checkout">Total:</p>
                        </div>
                        <div class="col-7">
                            <p class="invoice">£{{ total }}</p>
                        </div>
                    </div>
                </div>
                <br>
                <form method="POST" action="{% url 'confirm_payment' project.id %}" id="confirm">
                    {% csrf_token %}
                    <button class="btn" type="submit" id="submit-payment">Confirm Payment</button>
                </form>
            </div>
            <div class="col-md-2 col-xs-0">
                <!-- Empty for styling purposes -->
            </div>
        </div>
    </div>
{% endblock %}