{% extends 'base.html' %}
{% block page_title %}Edit Your Profile{% endblock %}
{% block page_heading %}Edit Your Profile{% endblock %}
{% load bootstrap_tags %}
{% block content %}
<div class="row" id="header">
    <div class="col-12">
        <br>
        <h1><center>Lorem ipsum...</center></h1>
        <p class="header-desc">Edit your profile below...</p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-xs-0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col-md-8 col-xs-12">
            <form method="POST" enctype="multipart/form-data" class="project">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <center><button class="btn" type="submit" id="launch">Submit changes</button></center>
            </form>
            <br>
        </div>
        <div class-"col-md-2 col-xs-0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
</div>
{% endblock %}