{% extends 'base.html' %}
{% block page_title %}Update Profile Image{% endblock %}
{% block page_heading %}Update Your Profile Image{% endblock %}
{% load bootstrap_tags %}
{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-1 col-xs-1">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col-md-6 col-sm-10 col-xs-10">
            <br>
            <form method="POST" enctype="multipart/form-data" class="project">
                {% csrf_token %}
                <img src="{{ user.userprofile.image.url }}" class="profile" height="150px" width="150px">
                <br>
                {{ form }}
                <br>
                <center><button class="btn" type="submit" id="launch" style="margin-top:15px">Submit changes</button></center>
            </form>
            <br>
        </div>
        <div class-"col-md-3 col-sm-1 col-xs-1">
            <!-- Empty for styling purposes -->
        </div>
    </div>
</div>
{% endblock %}