{% extends 'base.html' %}
{% block page_title %}{{ user }}'s Dashboard{% endblock %}
{% block content %}
    <div class="row" id="header">
        <div class="col-12">
            <br>
            <h1><center>{{ user }}'s Dashboard</center></h1>
            <br>
            <div class="container">
                <p class="header-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="overflow-x:scroll">
                    <table class="dashboard-table">
                        <tr>
                            {% for project in projects %}
                            {% if user == project.client %}
                            <th class="{% if project.signed_off == True %} status_green {% elif project.task1_status != 'To Do' %} status_orange {% else %} status_red {% endif %}">
                                <p class="project_status">{{ project.project_title }}</p>
                            </th>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for project in projects %}
                            {% if user == project.client %}
                            <td class="{% if project.signed_off == True %} status_green {% elif project.task1_status != 'To Do' %} status_orange {% else %} status_red {% endif %}">
                                <p class="project_status">Project status: {{ project.project_status }}</p>
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for project in projects %}
                            {% if user == project.client %}
                            <td class="edit-container">
                                <a class="btn btn-primary" href="{% url 'client_project_detail' pk=project.pk %}" role="button" id="edit">Detailed View <i class="material-icons" style="font-size:20px;">info_outline</i></a>
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <!--
                        <tr>
                            {% for project in projects %}
                            {% if user == project.client %}
                            <td><p class="project_sheet">Client: {{ project.client }}</p></td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        -->
                        <tr>
                            {% for project in projects %}
                            {% if user == project.client %}
                            <td>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="project_sheet">Fee: </p>
                                    </div>
                                    <div class="col-6">
                                        <p class="project_sheet_tasks" style="float:right">£{{ project.fee }}</p>
                                    </div>
                                </div>
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for project in projects %}
                            {% if user == project.client %}
                            <td>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="project_sheet">Deadline:</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="project_sheet_tasks" style="float:right">{{ project.deadline }}</p>
                                    </div>
                                </div>
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for project in projects %}
                            {% if user == project.client %}
                            <td>
                            <div class="row">
                                <div class="col-9">
                                    <p class="project_sheet">Approved: </p>
                                </div>
                                <div class="col-3">
                                    {% if project.approved == True %}
                                        <i class="material-icons" style="font-size:36px;color:#009963;float:right;">check_box</i>
                                    {% else %}
                                        <i class="material-icons" style="font-size:36px;color:#cc0000;float:right;">close</i>
                                    {% endif %}
                                </div>
                            </div>
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for project in projects %}
                            {% if user == project.client %}
                            <td>
                            <div class="row">
                                <div class="col-9">
                                    <p class="project_sheet">Signed off: </p>
                                </div>
                                <div class="col-3">
                                    {% if project.signed_off == True %}
                                        <i class="material-icons" style="font-size:36px;color:#009963;float:right;">check_box</i>
                                    {% else %}
                                        <i class="material-icons" style="font-size:36px;color:#cc0000;float:right;">close</i>
                                    {% endif %}
                                </div>
                            </div>
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for project in projects %}
                            {% if user == project.client %}
                            <td>
                            <div class="row">
                                <div class="col-9">
                                    <p class="project_sheet">Paid: </p>
                                </div>
                                <div class="col-3">
                                    {% if project.paid == True %}
                                        <i class="material-icons" style="font-size:36px;color:#009963;float:right;">check_box</i>
                                    {% else %}
                                        <i class="material-icons" style="font-size:36px;color:#cc0000;float:right;">close</i>
                                    {% endif %}
                                </div>
                            </div>
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}