{% extends 'base.html' %}
{% block page_title %}Edit {{ project.project_title }}{% endblock %}
{% load bootstrap_tags %}
{% block content %}
<div class="row" id="header">
    <div class="col-12">
        <br>
        <h1><center>Edit {{ project.project_title }}</center></h1>
        <br>
        <div class="container">
            <p class="header-desc">Lorem ipsum</p>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-xs-0">
            <!-- Empty for styling purposes -->
        </div>
        <div class="col-md-8 sol-xs-12">
            <form method="POST" class="project" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <center><button class="btn btn-primary float-center" type="submit" id="launch">Submit Changes</button></center>
            </form>
        </div>
        <div class="col-md-2 col-xs-0">
            <!-- Empty for styling purposes -->
        </div>
    </div>
</div>
{% endblock %}