{% extends 'base.html' %}
{% block page_title %}{{ project.project_title }}{% endblock %}
{% load bootstrap_tags %}
{% block content %}
    <div class="row" id="header">
        <div class="col-12">
            <br>
            <h1><center>{{ project.project_title }}</center></h1>
            <br>
            <div class="container">
                {% if user.is_superuser %}
                    <p class="header-desc">This is your project detail page, which 
                    you will use to manage the status of this particular project. 
                    Up until the client approves of the project, you can make amendments 
                    to the project by pressing the 'edit' button.</p> 
                    <p class="header-desc">Once the project is approved and underway, 
                    be sure to keep the client in the loop by updating the status of 
                    each individual task accordingly, via the dropdown options. This 
                    page will also let you know when your project has been approved, 
                    signed off, and paid for by the client.</p>
                {% else %}
                    <p class="header-desc">This is your project detail page, which you 
                    can use to monitor the progress of this particular project. Prior to 
                    approval, you have freedom to edit certain aspects of the proposed 
                    project, including the project summary and the breakdown of individual 
                    tasks. This can be done via the 'edit' button.</p>
                    <p class="header-desc">Once you are happy, click 'approve' and we will 
                    get to work. We will keep you informed by updating the status of the 
                    project from our end, as it progresses. Upon completion of the project 
                    please click 'sign off' button, which will itself unlock a link through 
                    which you can make a secure payment.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div class="stretch-container">
        <div class="row">
            <div class="col-12">
                <table class="project-detail">
                    <tr>
                        <th class="project-detail {% if project.signed_off == True %} status_green {% elif project.task1_status != 'To Do' %} status_orange {% else %} status_red {% endif %}">
                            <p class="project_status">{{ project.project_title }}</p>
                        </th>
                    </tr>
                    <tr>
                        <td class="{% if project.signed_off == True %} status_green {% elif project.task1_status != 'To Do' %} status_orange {% else %} status_red {% endif %}">
                            <p class="project_status">Project status: {{ project.project_status }}</p>
                        </td>
                    </tr>
                    {% if project.approved == False %}
                    <tr>
                        <td class="gradient">
                            <div class="row">
                                <div class="col-12">
                                    <center><a class="btn btn-primary" href="{% url 'edit' project.pk %}" role="button" id="edit">Edit <i class="material-icons" style="font-size:20px;">edit</i></a></center>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                    <!-- Blank -->
                    {% endif %}
                    <tr>
                        <td class="gradient">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header gradient">
                                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                            <div class="row">
                                                <div class="col-10">
                                                    <p class="project_sheet">Project Summary</p>
                                                </div>
                                                <div class="col-2">
                                                    <i class="material-icons" style="font-size:24rpx;color:black;float:right;">expand_more</i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse hide" data-parent="#accordion">
                                        <div class="card-body project_desc">
                                             <p class="project_sheet_tasks">{{ project.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% if user.is_superuser %}
                    <tr>
                        <td class="gradient">
                            <div class="row">
                                <div class="col-6">
                                    <p class="project_sheet">Client: </p>
                                </div>
                                <div class="col-6">
                                    <p class="project_sheet_tasks" style="float:right">{{ project.client }}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="gradient">
                            <div class="row">
                                <div class="col-6">
                                    <p class="project_sheet">Fee (exc VAT): </p>
                                </div>
                                <div class="col-6">
                                    <p class="project_sheet_tasks" style="float:right">£{{ project.fee }}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="gradient">
                        <div class="row">
                            <div class="col-5">
                                <p class="project_sheet">Approved: </p>
                            </div>
                            <div class="col-5">
                                {% if user == project.client %}
                                    {% if project.approved == True %}
                                        <!-- Blank -->
                                    {% else %}
                                        <a class="btn btn-primary float-right" href="{% url 'approve_project' project.pk %}" role="button" id="approve">Approve</a>
                                    {% endif %}
                                {% else %}
                                <!-- Blank -->
                                {% endif %}
                            </div>
                            <div class="col-2">
                                {% if project.approved == True %}
                                    <i class="material-icons" style="font-size:36px;color:#009963;float:right;">check_box</i>
                                {% else %}
                                    <i class="material-icons" style="font-size:36px;color:#cc0000;float:right;">close</i>
                                {% endif %}
                            </div>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="gradient">
                            <div class="row">
                                <div class="col-6">
                                    <p class="project_sheet">Deadline:</p>
                                </div>
                                <div class="col-6">
                                    <p class="project_sheet_tasks" style="float:right">{{ project.deadline }}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% if user.is_superuser %}
                    <tr>
                        <td class="gradient">
                            <div class="row">
                                <div class="col-9">
                                    <p class="project_sheet">Priority: </p>
                                </div>
                                <div class="col-3">
                                    {% if project.priority == '1' %}
                                        <i class="material-icons" style="font-size:36px;color:#cc0000;float:right;">report</i>
                                    {% elif project.priority == '2' %}
                                        <i class="material-icons" style="font-size:36px;color:#ff9900;float:right;">sentiment_neutral</i>
                                    {% else %}
                                        <i class="material-icons" style="font-size:36px;color:#009963;float:right;">low_priority</i>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% if project.approved == True %}
                    <tr>
                        <td class="gradient">
                            <div class="row">
                                <div class="col-12">
                                    <p class="project_sheet">Manage Task Status:</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <form class="status-update" action="{% url 'update_status' project.pk %}" method="POST">
                                        {% csrf_token %}
                                        <p class="project_sheet_tasks">Task 1: {{ form.task1_status }} 
                                        {% if project.task2_status == 'Done' or project.task2_status == 'Doing' or project.task2_status == 'To Do' %}
                                        Task 2: {{ form.task2_status }}
                                        {% else %}
                                        {% endif %}
                                        <br>
                                        {% if project.task3_status == 'Done' or project.task3_status == 'Doing' or project.task3_status == 'To Do' %}
                                        Task 3: {{ form.task3_status }} 
                                        {% else %}
                                        {% endif %}
                                        {% if project.task4_status == 'Done' or project.task4_status == 'Doing' or project.task4_status == 'To Do' %}
                                        Task 4: {{ form.task4_status }}
                                        {% else %}
                                        {% endif %}
                                        <br>
                                        {% if project.task5_status == 'Done' or project.task5_status == 'Doing' or project.task5_status == 'To Do' %}
                                        Task 5: {{ form.task5_status }}
                                        {% else %}
                                        {% endif %}
                                        <button class="btn btn-primary float-center" type="submit" id="update">Update</button></p>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                    <tr>
                        <td class="gradient">
                        <div class="row">
                            <div class="col-6">
                                <p class="project_sheet">Task 1:</p>
                            </div>
                            <div class="col-6">
                                <div class="{% if project.task1_status == 'Done' %} green {% elif project.task1_status == 'Doing' %} orange {% else %} red {% endif %}">
                                    <p class="task_status">{{ project.task1_status }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="task_desc">
                                    <p class="project_sheet_tasks">{{ project.task1 }}</p>
                                </div>
                            </div>
                        </div>
                        </td>
                    </tr>
                    {% if project.task2_status == 'Done' or project.task2_status == 'Doing' or project.task2_status == 'To Do' %}
                    <tr>
                        <td class="gradient">
                        <div class="row">
                            <div class="col-6">
                                <p class="project_sheet">Task 2:</p>
                            </div>
                            <div class="col-6">
                                <div class="{% if project.task2_status == 'Done' %} green {% elif project.task2_status == 'Doing' %} orange {% else %} red {% endif %}">
                                    <p class="task_status">{{ project.task2_status }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="task_desc">
                                    <p class="project_sheet_tasks">{{ project.task2 }}</p>
                                </div>
                            </div>
                        </div>
                        </td>
                    </tr>
                    {% else %}
                    <!-- Empty -->
                    {% endif %}
                    {% if project.task3_status == 'Done' or project.task3_status == 'Doing' or project.task3_status == 'To Do' %}
                    <tr>
                        <td class="gradient">
                        <div class="row">
                            <div class="col-6">
                                <p class="project_sheet">Task 3:</p>
                            </div>
                            <div class="col-6">
                                <div class="{% if project.task3_status == 'Done' %} green {% elif project.task3_status == 'Doing' %} orange {% else %} red {% endif %}">
                                    <p class="task_status">{{ project.task3_status }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="task_desc">
                                    <p class="project_sheet_tasks">{{ project.task3 }}</p>
                                </div>
                            </div>
                        </div>
                        </td>
                    </tr>
                    {% else %}
                    <!-- Empty -->
                    {% endif %}
                    {% if project.task4_status == 'Done' or project.task4_status == 'Doing' or project.task4_status == 'To Do' %}
                    <tr>
                        <td class="gradient">
                        <div class="row">
                            <div class="col-6">
                                <p class="project_sheet">Task 4:</p>
                            </div>
                            <div class="col-6">
                                <div class="{% if project.task4_status == 'Done' %} green {% elif project.task4_status == 'Doing' %} orange {% else %} red {% endif %}">
                                    <p class="task_status">{{ project.task4_status }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="task_desc">
                                    <p class="project_sheet_tasks">{{ project.task4 }}</p>
                                </div>
                            </div>
                        </div>
                        </td>
                    </tr>
                    {% else %}
                    <!-- Empty -->
                    {% endif %}
                    {% if project.task5_status == 'Done' or project.task5_status == 'Doing' or project.task5_status == 'To Do' %}
                    <tr>
                        <td class="gradient">
                        <div class="row">
                            <div class="col-6">
                                <p class="project_sheet">Task 5:</p>
                            </div>
                            <div class="col-6">
                                <div class="{% if project.task5_status == 'Done' %} green {% elif project.task5_status == 'Doing' %} orange {% else %} red {% endif %}">
                                    <p class="task_status">{{ project.task5_status }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="task_desc">
                                    <p class="project_sheet_tasks">{{ project.task5 }}</p>
                                </div>
                            </div>
                        </div>
                        </td>
                    </tr>
                    {% else %}
                    <!-- Empty -->
                    {% endif %}
                    <tr>
                        <td class="gradient">
                        <div class="row">
                            <div class="col-5">
                                <p class="project_sheet">Signed off: </p>
                            </div>
                            <div class="col-5">
                                {% if user == project.client %}
                                    {% if project.approved == False %}
                                        <a class="btn btn-primary" href="#" role="button" id="approve" disabled>Sign Off</a>
                                    {% elif project.signed_off == True %}
                                        <!-- Blank -->
                                    {% else %}
                                        <a class="btn btn-primary" href="{% url 'sign_off' project.pk %}" role="button" id="approve">Sign Off</a>
                                    {% endif %}
                                {% else %}
                                <!-- Blank -->
                                {% endif %}
                            </div>
                            <div class="col-2">
                                {% if project.signed_off == True %}
                                    <i class="material-icons" style="font-size:36px;color:#009963;float:right;">check_box</i>
                                {% else %}
                                    <i class="material-icons" style="font-size:36px;color:#cc0000;float:right;">close</i>
                                {% endif %}
                            </div>
                        </div>
                        </td>
                    </tr>
                    {% if user.is_superuser %}
                    <tr>
                        <td class="gradient">
                        <div class="row">
                            <div class="col-9">
                                <p class="project_sheet">Paid: </p>
                            </div>
                            <div class="col-3">
                                {% if project.paid == True %}
                                    <i class="material-icons" style="font-size:36px;color:#009963;float:right;">check_box</i>
                                {% else %}
                                    <i class="material-icons" style="font-size:36px;color:#cc0000;float:right;">close</i>
                                {% endif %}
                            </div>
                        </div>
                        </td>
                    </tr>
                    {% elif user == project.client %}
                    <tr>
                        <td class="gradient">
                        <div class="row">
                            {% if project.paid == False and project.signed_off == True %}
                            <div class="col-12">
                                <form method="POST" class="gradient" id="confirm" action="{% url 'confirm_payment' project.id %}">
                                    {% csrf_token %}
                                    <button class="btn" id="pay">Make Payment <i class="material-icons" style="font-size:24px">shopping_cart</i></button>
                                </form>
                            </div>
                            {% elif project.paid == False %}
                            <div class="col-9">
                                <p class="project_sheet">Paid: </p>
                            </div>
                            <div class="col-3">
                                <i class="material-icons" style="font-size:36px;color:#cc0000;float:right;">close</i>
                            </div>
                            {% else %}
                            <div class="col-9">
                                <p class="project_sheet">Paid: </p>
                            </div>
                            <div class="col-3">
                                <i class="material-icons" style="font-size:36px;color:#009963;float:right;">check_box</i>
                            </div>
                            {% endif %}
                        </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% if user.is_superuser %}
                    <tr>
                        <td class="gradient">
                        <div class="row">
                            <div class="col-12">
                                <center><a class="btn btn-danger" href="{% url 'delete_project' project.pk %}" role="button" id="delete">Delete <i class="material-icons" style="font-size:20px;">delete</i></a></center>
                            </div>
                        </div>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <br>
    </div>
{% endblock %}